/* font*/

@font-face {
    font-family: "DMSerif";
    src: url(./assets/fonts/DMSerifDisplay-Italic.ttf);
}

body{ 
    background: url(./assets/img/bg.jpg) center/cover;
    /* VH= 100% de la taille de l'écran (viexport height) */
    min-height: 100vh;
    font-family: "DMSerif", Verdana;
}

h1{ 
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /*Les tailles de police doivent etre en REM*/
    font-size: 2.5rem;
    box-shadow: 0 0 0 black;
    color: pink;
    font-family: 'Oswald', sans-serif;
}


main{
min-height: 500px;
background: rgba(219, 210, 210, 0.788);
width: 90%;

/* centrer une boite  */
margin: 0 auto;
border: 1px solid rgba(0, 0, 0, 0.616);
border-radius: 20px;
box-shadow: 0 0 0 rgb(49, 60, 68);
padding: 10px;

}

h2 { 
    margin: 0;
    font-size: 1.5rem;
}

.flexbox, .grid, .absolute{
    border: 3px solid blanchedalmond;
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
}

/**FLEXBOX pour répartir équitablement des élements sur la meme page ***/

.flexbox li{
    list-style-type: none;
    height: 170px;
    width: 170px;
    margin: 10px;
    background: rgb(31, 181, 192);
     /***Centrer un unique élément verticalement et horizontalement**/
     justify-content: center;
     align-items: center;
}
.flexbox ul{ 
    padding: 0;
    display: flex;
    justify-content: space-around;
   

}




/******Grid******/

.grid-container{ 
    display: grid;
    grid-template-columns: 30% 70%;
}
.grid img{ 
    padding: 20px;
    width: 80%;
    border: 10px;
    border-radius: 30px;
    margin-top: 20px;
}


form{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
     "vi bt";
}
 input, textarea{ 
    margin: 6px;
    border: 2px solid gray;
    padding: 10px;
    font-size: 1.2rem;
    font-family: "DMSerif";
    border-radius: 20px;
 }
textarea{ 
    grid-area: ta;
    height: 40px;
    border-radius: 20px;
}

#btn-submit{ 
    grid-area: bt;
    cursor: pointer;
    background: black;
    transition: 0.2s;
    color: white;
}

#btn-submit:hover{ 
    background: rgb(71, 71, 153);
    color: white;
}

/****************ABSOLUTE**********************/
/* Sans élément en Relative, de base, l'élément en absolute l'est par rapport au body */
/* Il faut mettre une position relative au parent pour contraindre l'élément en absolute dans ses frontières */

.absolute{ 
    position: relative;
}
#circle1{ 
height: 60px;
width: 60px;
background: skyblue;
position: absolute;
border-radius: 150px;
top: 0;
right: 0;

}
#circle2{ 
    height: 40px;
    width: 40px;
    border-radius: 150px;
    background: teal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}